.footer-container {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d;
}
.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%;
}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
}
.footer-container a {
    color: rgba(255, 255, 255, 0.5);
}